@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-kr: 'Noto Sans KR,' sans-serif;
  --ff-em: 'IBM plex Mono', monospace;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: auto;
  padding: 1rem;
  width: 100%;
}

/* .App {
  font-size: 30px;
}
.kr {
  font-family: var(--ff-kr);
}
.em {
  font-family: var(--ff-em);
} */
